@model HotelWebApp.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCleaned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCleaned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking.BookingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.BookingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issue.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issue.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Standard.rNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Standard.rNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suite.rNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suite.rNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Superior.rNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Superior.rNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Roomnumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
